In [1]:
#using type decimal Monetory Amounts
amount=112.31
print(amount)

112.31

In [3]:
print(f'{amount:.20f}')

112.31000000000000227374

In [4]:
from decimal import Decimal 
principal=Decimal('1000.00')

In [6]:
principal

Decimal('1000.00')

In [8]:
rate=Decimal('0.05')

In [10]:
rate

Decimal('0.05')

In [11]:
x=Decimal('10.5')

In [12]:
y=Decimal('2')

In [14]:
x+y

Decimal('12.5')

In [16]:
x//y

Decimal('5')

In [17]:
x+=y

In [19]:
x

Decimal('12.5')

In [20]:
for year in range(1,11):
    amount=principal*(1+rate)**year
    print(f'{year:>2}{amount:>10.2f}')

 1   1050.00
 2   1102.50
 3   1157.62
 4   1215.51
 5   1276.28
 6   1340.10
 7   1407.10
 8   1477.46
 9   1551.33
10   1628.89