In [2]:
import pandas as pd

In [3]:
zips=pd.Series({'Baston':'02215','Miami':'3310'})

In [4]:
zips

Baston    02215
Miami      3310
dtype: object

In [5]:
zips.str.match(r'\d{5}')

Baston     True
Miami     False
dtype: bool

In [6]:
cities=pd.Series(['baston, MA 02215','Miami. FL 33101'])

In [7]:
cities

0    baston, MA 02215
1     Miami. FL 33101
dtype: object

In [9]:
cities.str.contains(r' [A-Z]{2}')

0    True
1    True
dtype: bool

In [10]:
cities.str.match(r' [A-Z]{2}')

0    False
1    False
dtype: bool

In [11]:
#Next Class

In [12]:
contacts=[['Mike Green','demo1@gmail.com','5555555555'],
          ['Sue Brown','demo2@gmail.com','5555551234']]

In [13]:
contacts

[['Mike Green', 'demo1@gmail.com', '5555555555'],
 ['Sue Brown', 'demo2@gmail.com', '5555551234']]

In [14]:
pd.Series(contacts)

0    [Mike Green, demo1@gmail.com, 5555555555]
1     [Sue Brown, demo2@gmail.com, 5555551234]
dtype: object

In [15]:
contactsdf=pd.DataFrame(contacts,columns=['Name','Email','Phone'])

In [16]:
contactsdf

         Name            Email       Phone
0  Mike Green  demo1@gmail.com  5555555555
1   Sue Brown  demo2@gmail.com  5555551234

In [17]:
import re

In [22]:
def get_formatted_phone(value):
    result=re.fullmatch(r'(\d{3})(\d{3})(\d{4})',value)
    return '-'.join(result.groups()) if result else value

In [24]:
formatted_phone=contactsdf['Phone'].map(get_formatted_phone)

In [25]:
formatted_phone

0    555-555-5555
1    555-555-1234
Name: Phone, dtype: object

In [27]:
contactsdf['Phone']=formatted_phone

In [28]:
contactsdf

         Name            Email         Phone
0  Mike Green  demo1@gmail.com  555-555-5555
1   Sue Brown  demo2@gmail.com  555-555-1234

In [29]:
#Exercise (show video)

In [32]:
contacts=[['Mike Green','demo1@gmail.com','5555555555'],
          ['Sue Brown','demo2@gmail.com','5555551234']]

In [33]:
contactsdf=pd.DataFrame(contacts,columns=['Name','Email','Phone'])

In [41]:
def get_formatted_phone_ex(value):
    result=re.fullmatch(r'(\d{3})(\d{3})(\d{4})',value)
    if result:
        part1,part2,part3=result.groups()
        return '('+part1+') '+ part2+'-'+part3
    else:
        return value

In [42]:
contactsdf['Phone']=contactsdf['Phone'].map(get_formatted_phone_ex)

In [43]:
contactsdf

         Name            Email          Phone
0  Mike Green  demo1@gmail.com  (555)555-5555
1   Sue Brown  demo2@gmail.com  (555)555-1234