In [1]:
student_tuple=('Amanda',[98,64,78])

In [2]:
first_name,grades=student_tuple

In [3]:
first_name

'Amanda'

In [4]:
grades

[98, 64, 78]

In [6]:
first,second='hi'

In [8]:
print(f'{first} {second}')

h i

In [9]:
number1,number2,number3=[2,3,4]

In [10]:
number1,number2,number3=range(10,40,10)

In [12]:
print(f'{number1} {number2} {number3}')

10 20 30

In [13]:
number1=99

In [14]:
number2=22

In [15]:
number1,nnumber2=(number1,number2)

In [16]:
print(f'{number1} {number2} ')

99 22

In [18]:
color=['Red','Yellow','Blue']
list(enumerate(color))

[(0, 'Red'), (1, 'Yellow'), (2, 'Blue')]

In [19]:
tuple(enumerate(color))

((0, 'Red'), (1, 'Yellow'), (2, 'Blue'))

In [20]:
for index,value in enumerate(color):
    print(f'{index}: {value}')

0: Red
1: Yellow
2: Blue

In [21]:
# bar chart

numbers=[19,3,15,7,11]

print('\n Creating a bar chart from numbers:')

 Creating a bar chart from numbers:

In [29]:
print(f'Index{" Value":<8}  Bar')

Index Value    Bar

In [28]:
for index,value in enumerate(numbers):
    print(f'{index:>5}{value:>8}   {"*" * value}')

    0      19   *******************
    1       3   ***
    2      15   ***************
    3       7   *******
    4      11   ***********