In [1]:
import pandas as pd

In [2]:
df=pd.read_csv('accounts.csv',names=['account','name','balance'])

In [3]:
df

   account     name  balance
0      100    Jones    24.98
1      101      Ran    23.98
2      102     Hari    45.98
3      103    Indra    27.98
4      104  Govinda    29.98
5      105     Hari    29.98

In [4]:
df.to_csv('accounts_from_dataframe.csv',index=False)

In [5]:
!more accounts_from_dataframe.csv

account,name,balance
100,Jones,24.98
101,Ran,23.98
102,Hari,45.98
103,Indra,27.98
104,Govinda,29.98
105,Hari,29.98